:root {
	--accent: #4ba6e1;
	--main: #e9e9f0;
	--main2: #cecece;
	--main3: #b1b1b1;
	--background: #232931;
	--background2: #393e46;
	--background3: #435168;
	--alt1: #004466;
	--alt2: #C9AF9D;
	--alt3: #F2E1AE;
	--alt4: #E1684A;
}

html {
	margin: 0;
	padding: 0;
	width: 100%;
	
	line-height: 1.5;
	font-family: sans-serif, serif;
	/*font-size: 16px;*/
	color: var(--main);
	background-color: var(--background);
}

body {
	margin: 0;
	padding: 0;
	max-width: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: min-content 1fr;
	align-items: start;
	overflow-y: scroll;
	
	hyphens: auto;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;
	font-kerning: normal;
}


header#main-header {
	position: sticky;
	top: 0;
	padding: 5px;
}

header#main-header > h1.title {
	text-align: left;
	margin: 0;
}

header#main-header > h1.title > a {
	text-decoration: none;
}

header#main-header > p.subtitle {
	margin: 0;
	text-align: left;
}

header#main-header > nav.tags {
	text-align: left;
}

header#main-header > nav > ul {
	padding-left: 1em;
}

header#main-header > ul {
	text-align: left;
	padding-left: 1em;
}

div#body {
	padding: 0 50px 0 50px;
	max-width: 1000px;
	min-width: 550px;
}

div#post:not(:first-of-type) {
	margin: 10px 0 0 0;
}

div#post > h4 {
	margin: 0;
}

div#post > small {
	margin: 0;
}

div#post > p {
	margin: 0;
}


@media (max-width: 600px) {
	body {
		font-size: 0.9em;
		padding: 1em;
	}
}
@media print {
	body {
		background-color: transparent;
		color: black;
		font-size: 12pt;
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	h2,
	h3,
	h4 {
		page-break-after: avoid;
	}
}
a {
	color: var(--main);
}
a:visited {
	color: var(--main);
}
p {
	margin: 1em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1em;
}
h5,
h6 {
	font-size: 1em;
	font-style: italic;
}
h6 {
	font-weight: normal;
}
ol,
ul {
	padding-left: 1.7em;
	margin-top: 1em;
}
li > ol,
li > ul {
	margin-top: 0;
}
