:root {
	--accent: #4ba6e1;
	--main: #e9e9f0;
	--main2: #cecece;
	--main3: #b1b1b1;
	--background: #232931;
	--background2: #393e46;
	--background3: #435168;
	--alt1: #004466;
	--alt2: #C9AF9D;
	--alt3: #04bb0f;
	--alt4: #F2603C;
}

* {
	scrollbar-color: #454a4d #202324;
}

html {
	color: var(--main);
	background-color: var(--background);
	font-family: sans-serif, serif;
}

body {
	max-width: 100vw;
}

a {
	color: var(--alt4);
	text-decoration: none;
}
a:visited {
	color: var(--alt4);
}

table,td,th {
	border-color: var(--main3) !important;
}

body > .title,h1,h2,h3,h4,h5,h6,a,p,ol,ul,hr,div,header#title-block-header,section {
	box-sizing: border-box;
	width: 900px;
	max-width: 100%;
	margin: 0 auto;
	margin-top: revert;
	margin-bottom: revert;
	overflow-wrap: break-word;
}

li {
	text-align: initial !important;
}

header#main-header {
	display: grid;
	
	margin: 0 auto;
	width: 900px;
	max-width: 100%;
	margin-bottom: 20px;
}

header#main-header > a {
	width: auto;
}

header#main-header > * {
	margin: auto;
}

header#title-block-header > * {
	margin: auto;
	text-align: center;
}

body > p,li {	
	text-align: justify;
}

body > table {
	max-width: 1200px;
	margin: 0 auto;
	margin-top: revert;
	margin-bottom: revert;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 0 15px;
	max-width: 400px;
}

div#body > div#posts > div#post > h4 {
	margin-bottom: 5px;
}

div#body > div#posts > div#post > p {
	margin-top: 5px;
}
