<header id="main-header">
	<div>
		<a href="/">home</a>
		<a href="/posts">posts</a>
	</div>
</header>

<div id="body">
	<h1 class="title">x4e</h1>
	<p>I do reverse engineering, mostly JVM related.</p>
	<p>At the moment I mainly work on the <a href="https://binclub.dev/binscure">Binscure JVM Obfuscator</a>.</p>
	<ul class="links">
		<li><a href="mailto:&#x78;&#x34;&#x65;&#x5F;&#x78;&#x34;&#x65;&#x40;&#x70;&#x72;&#x6F;&#x74;&#x6F;&#x6E;&#x6D;&#x61;&#x69;&#x6C;&#x2E;&#x63;&#x6F;&#x6D;">&#x78;&#x34;&#x65;&#x5F;&#x78;&#x34;&#x65;&#x40;&#x70;&#x72;&#x6F;&#x74;&#x6F;&#x6E;&#x6D;&#x61;&#x69;&#x6C;&#x2E;&#x63;&#x6F;&#x6D;</a></li>
		<li><a href="https://github.com/x4e">github.com/x4e</a></li>
		<li><a href="https://github.com/x4e/Blog">This site's source code</a></li>
	</ul>
	<div class="copyright">
		<a href="https://raw.githubusercontent.com/x4e/Blog/master/LICENSE.md">
			<!--https://creativecommons.org/licenses/by-sa/4.0/-->
			<img
				title="All the content on this website is licensed under the Creative Commons Attribute-ShareAlike License"
				alt="Creative Commons Attribute-ShareAlike License"
				src="/resources/CC-BY-SA_icon.svg"
				id="copyright-icon"
			>
			</img>
		</a>
	</div>
</div>
