<header id="main-header">
	<div>
		<a href="/">home</a>
		<a href="/posts">posts</a>
	</div>
</header>

$for(include-before)$
$include-before$
$endfor$
$if(title)$
<header id="title-block-header">
	<h1 class="title">$title$</h1>
	$if(subtitle)$
	<p class="subtitle">$subtitle$</p>
	$endif$
	$if(keywords)$
	<p class="keyword">$for(keywords)$<a href='/tag/$keywords$'>$keywords$</a>$sep$, $endfor$</p>
	$endif$
	$if(date)$
	<p class="date">$date$</p>
	$endif$
</header>
$endif$
$body$
$for(include-after)$
$include-after$
$endfor$

<hr>

<p>You can post and view comments either below (if you have JavaScript enabled) or at <a href="https://github.com/x4e/Blog/issues/">github.com/x4e/Blog/issues/</a>.</p>

<script src="https://utteranc.es/client.js"
	repo="x4e/Blog"
	issue-term="title"
	theme="photon-dark"
	crossorigin="anonymous"
	async>
</script>
